<% include partials/header %>

<div class="container space">
  <h2 class="txt-center">Gallery</h2>
  <div class="grid">
    <img class="gallery-img" src="/images/g1.jpg" alt="Gallery Image" />
    <img class="gallery-img" src="/images/g2.jpg" alt="Gallery Image" />
    <img class="gallery-img" src="/images/g3.jpg" alt="Gallery Image" />
    <img class="gallery-img" src="/images/g4.jpg" alt="Gallery Image" />
    <img class="gallery-img" src="/images/g5.jpg" alt="Gallery Image" />
    <img class="gallery-img" src="/images/g6.jpg" alt="Gallery Image" />
    <img class="gallery-img" src="/images/g7.jpg" alt="Gallery Image" />
    <img class="gallery-img" src="/images/g8.jpg" alt="Gallery Image" />
  </div>

  <% include partials/footer %>
</div>
