<% include partials/header%>
<main>
  <section class="hero-section">
    <article class="home-content">
      <h2>Welcome to Eventeria</h2>
      <h1>We help you to plan your event</h1>
      <a href="/about"><button class="more-btn">More..</button></a>
    </article>
  </section>
  <section class="home-info">
    <h3>
      Eventeria is a nationally recognized, full-service planning and design
      <br />
      company for weddings and events.
    </h3>
    <p>
      We take care of every detail so you can focus on what matters most:
      hosting a once in a lifetime experience and unforgettable celebration.
    </p>
    <a href="/events/new">
      <button class="schedule-btn">Schedule your Consultation</button>
    </a>
  </section>
  <hr />
</main>
<% include partials/footer%>
