<% include partials/header %>
<div class="flex-40">
  <form class="edit-form" action="/remarks/<%= remark.id%>" method="post">
    <h2>Update Remarks</h2>
    <textarea name="remark" rows="6" placeholder="Update Remark">
            <%= remark.remark %>
        </textarea
    >
    <input
      type="text"
      name="client"
      placeholder="Client"
      value="<%= remark.client %>"
    />
    <input
      type="number"
      name="likes"
      placeholder="Likes"
      value="<%= remark.likes %>"
    />
    <button class="btn">Update Remark</button>
  </form>
</div>

<% include partials/footer %>
