<footer>
  <div class="copyright container">
    copyright &copy; 2022 All rights reserved | This template is made with
    <span class="pink">♡</span> by <span class="pink">Kunal</span>
  </div>
</footer>
